/* FORUM CARD */
.forum {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/forum/bkg-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  box-shadow: 0 0 20px var(--bs-dark);
  z-index: 10;
  overflow: hidden;
}

.forumContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}

.forumRow {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.forumCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  flex: 1 0 30%;
  width: 300px;
  /* Flex property to ensure responsive layout */
  box-sizing: border-box;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 1000px;
  /* margin-bottom: 20px; */

}

.cardImg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
  top: 0;
}

.cardFront {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.cardBack {
  background-color: #160c0c;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover .cardFront {
  transform: rotateY(180deg);
}

.card:hover .cardBack {
  transform: rotateY(0deg);
}

.cardLink {
  text-decoration: none;
  color: white;
}

.cardHeading {
  text-align: center;
}

.flipVerticalRight {
  -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@media screen and (max-width: 992px) {
  .forumRow {
    flex-direction: column;
    align-items: stretch;
  }

  .forumContainer {
    height: 100%;
  }

  .forumCard {
    flex: 1 0 auto;
    /* 設置全寬度 */
    width: 100%;
    /* 設置全寬度 */
    max-width: 100%;
    margin: 10px 0;
  }
}


@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

/* FORUM CARD END  */


/* FLOWER ANIMATION */
.lottieLeft, .lottieRight {
  position: absolute;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  pointer-events: none;
}

.lottieLeft {
  left: 0;
}

.lottieRight {
  right: 0;
}



/* ----------------------------------------------
 * Generated by Animista on 2024-7-23 16:4:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

/* FORUM CARD END  */